.App {
  height: 100vh;
  width: 100vw;
  background-color: #030722;
  color: white;
}

/* users css */

.search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.users_root {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.users_list {
  max-width: 850px;
  width: 100%;
  min-height: 80vh;
  height: fit-content;
}

input {
  /* width: 100%; */
  padding: 10px;
  font-size: 16px;
  outline: none;
  border: none;
  border-radius: 5px;
}

button {
  background-color: transparent;
  outline: none;
  border: 1px solid #fff;
  color: white;
  font-size: 16px;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.users_table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid white;
  border-radius: 3px;
}
.users_table th {
  border-bottom: 1px solid #9ea7af;
  font-size: 17px;
  padding: 16px;
  text-align: left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align: middle;
}
.users_table th:first-child {
  border-top-left-radius: 3px;
}

.users_table th:last-child {
  border-top-right-radius: 3px;
  border-right: none;
}

.users_tbody tr {
  border-top: 1px solid #c1c3d1;
  border-bottom: 1px solid #c1c3d1;
  color: #666b85;
  font-size: 16px;
  font-weight: normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

.users_tbody tr:nth-child(odd) td {
  background: #ebebeb;
}

.users_tbody tr:nth-child(odd):hover td {
  background: #d1d1d1;
}

.users_tbody tr:nth-child(even):hover td {
  background: whitesmoke;
}

.users_tbody td {
  background: #ffffff;
  padding: 20px;
  text-align: left;
  vertical-align: middle;
  font-weight: 300;
  font-size: 18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #c1c3d1;
  cursor: pointer;
}
.user_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  width: 100%;
  min-height: 80vh;
  height: fit-content;
}

.mt-24 {
  margin-top: 24px;
}

.w-100 {
  width: 100%;
}

.users_main {
  max-height: 75vh;
  overflow: auto;
  margin-top: 40px;
}

.removeSpan:hover span {
  border-bottom: 1px solid red;
}
